{
  "env": {
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "esmodules": true
          },
          "modules": false,
          "loose": true
        }],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        ["@babel/plugin-transform-typescript", {
          "isTSX": true
        }],
        ["@babel/plugin-proposal-class-properties", {
          "loose": true
        }]
      ],
      "ignore": [
        "**/__tests__/*.js",
        "**/*.d.ts"
      ]
    },
    "lib": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7", "ie >= 11"]
          }
        }],
        "@babel/preset-react",
        "@babel/preset-typescript",
      ],
      "plugins": [
        ["@babel/plugin-transform-typescript", {
          "isTSX": true
        }],
        ["@babel/plugin-proposal-class-properties", {
          "loose": true
        }]
      ],
      "ignore": [
        "**/__tests__/*.js",
        "**/*.d.ts",
        "**/*.test.ts",
        "**/*.test.js"
      ]
    }
  }
}
